* {
  margin: 0;
  padding: 0;
  user-select: none;
}
.battlefield__container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn {
  width: 200px;
  height: 80px;
  background-color: navy;
  color: aliceblue;
  font-size: 18px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.btn:active {
  background-color: rgb(4, 4, 179);
}
.btn:disabled {
  background-color: rgb(163, 163, 163);
  color: rgb(12, 10, 10);
}
.sea-battle__cell-player,
.sea-battle__cell-enemy,
.sea-battle__cell-player-ship {
  width: 9.6%;
  height: 9.6%;
  border: 1px solid black;
  text-align: center;
}
.sea-battle__cell-player-ship {
  width: 60px;
  height: 60px;
  border: none;
  margin: 10px;
}
.container-player,
.container-enemy {
  position: relative;
  display: flex;
  width: 600px;
  height: 600px;
  flex-flow: row wrap;
}
.container-player-ship {
  opacity: 0;
}

.oneShip {
  background-color: blue;
}
.part2Ship {
  background-color: rgb(17, 105, 76);
}
.part3Ship {
  background-color: greenyellow;
}
.part4Ship {
  background-color: hotpink;
}

.white {
  background-color: #fff;
}
.miss {
  background: rgb(148, 148, 148);
}
.hit {
  background: rgb(255, 0, 0);
}
.crush {
  background: black;
}
.player-container {
  display: flex;
  flex-flow: row;
}
.container-player__button-container {
  display: flex;
  flex-direction: column;
}
.container-player-ship {
  margin-left: 25px;
  display: flex;
  width: 1600px;
  height: 600px;
  flex-flow: row wrap;
  margin-top: 30px;
}
.showTurn {
  background-color: azure;
  color: black;
  line-height: 80px;
  text-align: center;
}
